name: Update README with latest blog posts

permissions:
  contents: write

on:
  schedule:
    - cron: "0 */3 * * *"
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Update blog post list in README
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://blog.wlstmd.com/rss"
          max_post_count: 5
          user_agent: "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
          accept_header: "*/*"
